@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-row">
    <h2>Customers</h2>
    
    @Html.ActionLink("Create Customer", "New", "Customers", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<br />
@if (!Model.Any())
{
    <p>No Customers</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.DiscountRate %</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

